@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #000;
  background-color: #e2e2e2;
  margin: 0;
}

a {
  padding: .7em .95em;
  border-radius: 4px;
  background-color: #555;
  color: white;
  text-decoration: none;
  text-align: center;
}

a:hover {
  background-color: #000;
}

section {
  display: inline-block;
  padding: 0 0 2rem;
}

h1 {
  margin: 0;
  padding: 0 0 1rem;
}

div {
  display: inline-block;
  vertical-align: middle;
}

.one {
  padding: 1rem;
}

.par {
  padding: 0 0 2rem;
}

.img-flex {
  display: block;
  width: 100%;
  max-width: 100%;
}

p {
  text-align: left;
  margin: 0;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .one {
    width: 49.5%;
    padding: 1.2rem;
  }

  .two {
    width: 49.5%;
    margin: 1rem 0 0;
  }

  h1 {
    padding: .75rem 0 1.5rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .one {
    width: 49%;
    padding: 1rem 1.25rem;
  }

  .two {
    width: 49%;
    margin: 2rem 0 0;
  }

  h1 {
    padding: 2rem 0 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .one {
    width: 49%;
  }

  .two {
    width: 49%;
    padding: 1rem;
  }

  section {
    padding: 0;
  }

  .img-flex {
    width: 75%;
  }

}
